* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Work Sans", sans-serif;
}

a {
	color: black;
}

h4,
ul a {
	font-size: 0.7rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

p {
	letter-spacing: 1.5px;
	line-height: 1.6;
    display: block;
}

li {
	list-style-type: none;
}

h1 {
	font-size: 63px;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	font-family: "Century Gothic", sans-serif;
	margin-left: 3px;
}

h3 {
	font-size: 25px;
}

h4 {
	color: silver;
	font-size: 11.2px;
	margin-top: 7px;
}

header {
	margin-top: 24px;
	text-align: center;
}

.header-text {
	position: absolute;
	top: 47.1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header img {
	width: 53%;
	margin: 65px 0px 50px;
}

.section,
.project {
	margin: 50px 180px;
}

h2,
.square,
.content,
.project-text {
	display: inline-block;
}

.section {
	padding-bottom: -40px;
}

.project {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-text {
	width: 85%;
	padding-left: 5%;
}

.five {
	padding-bottom: 60px;
}