* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Work Sans", sans-serif;
}

a {
	color: black;
}

h4,
ul a {
	font-size: 0.7rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

p {
	font-size: 0.9rem;
	letter-spacing: 1.5px;
	line-height: 1.6;
    display: block;
}

nav {
	padding: 50px 150px;
	width: 100%;
}

nav h1 {
	font-size: 2.35rem;
    display: inline-block;
    font-family: "Century Gothic", sans-serif;
}

nav ul {
	float: right;
	width: 40%;
	display: flex;
	justify-content: space-between;
	margin-top: -43px;
}

nav li {
	list-style-type: none;
	text-align: center;
}

h4 {
	color: silver;
	font-size: 11.2px;
	margin-top: 7px;
}

header {
	height: 510px;
	margin-top: 24px;
	text-align: center;
}

footer {
	padding: 30px 20px;
	clear: both;
	text-align: center;
}

footer .footer-text {
	color: dimgray;
	padding-top: 5px;
}